.text-light-0 {
  color: #c4c4c4;
}
.text-light-1 {
  color: #d8e3ed;
}
.text-light-2 {
  color: #fff;
}
.text-dark-0 {
  color: #000;
}
.text-dark-1 {
  color: #2e3335;
}
.text-dark-2 {
  color: #44484a;
}
.text-primary-0 {
  color: #415b66;
}
.text-primary-1 {
  color: #415b66;
}
.text-primary-2 {
  color: #415b66;
}
.text-accent-0 {
  color: #024a0d;
}
.text-accent-1 {
  color: #024a0d;
}
.text-accent-2 {
  color: #024a0d;
}
.text-surface-0 {
  color: #cfd7dd;
}
.text-surface-1 {
  color: #cfd7dd;
}
.text-surface-2 {
  color: #cfd7dd;
}
.text-warning-0 {
  color: #f00;
}
.text-warning-1 {
  color: #f00;
}
.text-warning-2 {
  color: #f00;
}
.bg-light-0 {
  background-color: #c4c4c4;
}
.bg-light-1 {
  background-color: #d8e3ed;
}
.bg-light-2 {
  background-color: #fff;
}
.bg-dark-0 {
  background-color: #000;
}
.bg-dark-1 {
  background-color: #2e3335;
}
.bg-dark-2 {
  background-color: #44484a;
}
.bg-primary-0 {
  background-color: #415b66;
}
.bg-primary-1 {
  background-color: #415b66;
}
.bg-primary-2 {
  background-color: #415b66;
}
.bg-accent-0 {
  background-color: #024a0d;
}
.bg-accent-1 {
  background-color: #024a0d;
}
.bg-accent-2 {
  background-color: #024a0d;
}
.bg-surface-0 {
  background-color: #cfd7dd;
}
.bg-surface-1 {
  background-color: #cfd7dd;
}
.bg-surface-2 {
  background-color: #cfd7dd;
}
.bg-warning-0 {
  background-color: #f00;
}
.bg-warning-1 {
  background-color: #f00;
}
.bg-warning-2 {
  background-color: #f00;
}
