html {
    height: 100vh;
    width: 100vw;

    background: #2A3E4A;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 14px;
    font-family: "Helvetica Nenu", Hevetica, Arial, sans-serif;
}

.main {
    width: 100%;
    overflow: hidden;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

@media screen and (max-width: 600px) {
    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}

h1,
h2,
h3,
h4,
h5,
p {
    color: #e5e5e5;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

.content-text {
    font-size: 1.5rem;
}

hr {
    width: 100%;
    margin: 40px 0 30px;
}

a {
    cursor: pointer;
    color: #b7824a;
}

a:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

a:visited {
    color: #99a870;
}

.no-underline {
    text-decoration: none;
}

.hidden {
    display: hidden;
}

.linear-gradient {
    background: linear-gradient(to bottom, #00253D, #153243 23%, #203847 32%, #203847 92%, #2A3E4A);
}

.content {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1280px;
}

@media screen and (max-width: 1280px) {
    .content {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 640px;
    }
}

.width-100 {
    width: 100%;
}

.maxwidth-800 {
    max-width: 800px;
}

@media screen and (max-width: 820px) {
    .maxwidth-800 {
        max-width: 100%;
        padding-left: 8px;
        padding-right: 8px;
    }
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 120px;
    width: 100%;
}

.navbar {
    height: 100%;
    width: 100%;
    margin-top: -4px;
    border-top: 4px solid #07071C;
    border-bottom: 4px solid #07071C;

    background: #00253D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width: 600px) {
    .navbar {
        gap: 16px;
    }
}

.icon-link {
    height: 64px;
    width: 64px;
    padding: 12px;
    border-radius: 48px;
    background: #9f9f9f;
    position: relative;
}

.icon-link-text {
    color: black;
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    margin: 0;
    font-size: 64px;
    line-height: 0;
}

@media screen and (max-width: 480px) {
    .icon-link {
        height: 36px;
        width: 36px;
    }

    .icon-link-text {
        font-size: 36px;
        left: calc(50% - 12px);
    }
}

.offset-anchor {
    position: relative;
    top: -150px;
}

@media screen and (max-width: 600px) {
    .nav {
        justify-content: center;
        height: 90px;
    }
}

.nav-item {
    width: 80px;
    height: 80px;
}

.text {
    width: 80%;
}

.subtle {
    opacity: 0.7;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vmargin {
    margin: 20px 0 30px;
}

.no-top-margin {
    margin-top: 0;
}

.scroll-padding {
    padding-top: 4rem;
    padding-bottom: 8rem;
}
