:root.dark {
  color-scheme: dark;
}

:root.light {
  color-scheme: light;  
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
}

body, div {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar * {
  margin: 0 12px;
  font-size: 1.4em;
}

.header .theme-toggle-mobile {
  display: none;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar * {
    font-size: 1.2em;
  }

  .header .theme-toggle-desktop {
    display: none;
  }

  .theme-toggle-mobile-container {
    position: relative;
  }

  .header .theme-toggle-mobile {
    display: revert;
    font-size: 1em;
    vertical-align: middle;
    position: absolute;
    left: 20px;
  }
}

.button-link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  cursor: pointer;
}

.main-container {
  width: 100%;
  flex: 1;
  display: block;
  overflow-y: auto;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100%;
}

.main .sidebar {
  width: 25%;
  min-height: 100%;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
    justify-content: flex-start;
  }

  .main .sidebar {
    width: 100%;
  }
}

.main .sidebar section {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.main .sidebar .divider {
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #a8a8a8;
}

.main .body {
  flex: 1;
  max-width: 900px;
}

.home {
  width: 100%;
}

.home .welcome {
  text-align: center;
}

.card-preview-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-preview {
  width: 100%;
  min-height: 100%;
}

.card-button {
  width: 100%;
}

.mini-card {
  max-width: 80%;
}

.spacer1em {
  height: 1em;
}

.clamp-text-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.article {
  max-width: 1200px;
}

.article img {
  max-width: 100%;
}

.layer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.flex-row-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.media-link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  cursor: pointer;
}

.media-link.dark:hover {
  color: #d1d1dc;
}

.media-link.light:hover {
  color: #2a2a2c;
}

.icon {
  margin-left: 1em;
  margin-right: 1em;
  line-height: 1.5em;
}

.icon-padding {
  padding: 0 1px;
}

.twitter-icon {
  color: #1d9bf0;
}

.collapsible {
  transition: max-height ease 1s;
  max-height: 1000em;
  overflow: hidden;
}

.collapsed {
  max-height: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}
