.bg-primary-0 {
  background-color: #070C19
}

.border-primary-0 {
  border-color: #070C19
}

.bg-primary-1 {
  background-color: #080E20
}

.border-primary-1 {
  border-color: #080E20
}

.bg-primary-2 {
  background-color: #0C1534
}

.border-primary-2 {
  border-color: #0C1534
}

.bg-primary-3 {
  background-color: #111A43
}

.border-primary-3 {
  border-color: #111A43
}

.bg-primary-4 {
  background-color: #18214F
}

.border-primary-4 {
  border-color: #18214F
}

.bg-primary-5 {
  background-color: #1F2659
}

.border-primary-5 {
  border-color: #1F2659
}

.bg-primary-6 {
  background-color: #262C64
}

.border-primary-6 {
  border-color: #262C64
}

.bg-primary-7 {
  background-color: #2E326E
}

.border-primary-7 {
  border-color: #2E326E
}

.bg-grey-0 {
  background-color: #080809
}

.border-grey-0 {
  border-color: #080809
}

.bg-grey-1 {
  background-color: #0F0F0F
}

.border-grey-1 {
  border-color: #0F0F0F
}

.bg-grey-2 {
  background-color: #151516
}

.border-grey-2 {
  border-color: #151516
}

.bg-grey-3 {
  background-color: #1B1B1C
}

.border-grey-3 {
  border-color: #1B1B1C
}

.bg-grey-4 {
  background-color: #212123
}

.border-grey-4 {
  border-color: #212123
}

.bg-grey-5 {
  background-color: #272729
}

.border-grey-5 {
  border-color: #272729
}

.bg-grey-6 {
  background-color: #2D2D30
}

.border-grey-6 {
  border-color: #2D2D30
}

.bg-grey-7 {
  background-color: #333336
}

.border-grey-7 {
  border-color: #333336
}

.bg-accent-0 {
  background-color: #23091E
}

.border-accent-0 {
  border-color: #23091E
}

.bg-accent-1 {
  background-color: #290A24
}

.border-accent-1 {
  border-color: #290A24
}

.bg-accent-2 {
  background-color: #3F0D36
}

.border-accent-2 {
  border-color: #3F0D36
}

.bg-accent-3 {
  background-color: #47103D
}

.border-accent-3 {
  border-color: #47103D
}

.bg-accent-4 {
  background-color: #501344
}

.border-accent-4 {
  border-color: #501344
}

.bg-accent-5 {
  background-color: #58174B
}

.border-accent-5 {
  border-color: #58174B
}

.bg-accent-6 {
  background-color: #601C53
}

.border-accent-6 {
  border-color: #601C53
}

.bg-surface-0 {
  background-color: #181F08
}

.border-surface-0 {
  border-color: #181F08
}

.bg-surface-1 {
  background-color: #1E270A
}

.border-surface-1 {
  border-color: #1E270A
}

.bg-surface-2 {
  background-color: #243208
}

.border-surface-2 {
  border-color: #243208
}

.bg-surface-3 {
  background-color: #2E440D
}

.border-surface-3 {
  border-color: #2E440D
}

.bg-surface-4 {
  background-color: #3A5314
}

.border-surface-4 {
  border-color: #3A5314
}

.bg-surface-5 {
  background-color: #48631C
}

.border-surface-5 {
  border-color: #48631C
}

.bg-surface-6 {
  background-color: #547326
}

.border-surface-6 {
  border-color: #547326
}

.bg-warning-0 {
  background-color: #360B05
}

.border-warning-0 {
  border-color: #360B05
}

.bg-warning-1 {
  background-color: #410903
}

.border-warning-1 {
  border-color: #410903
}

.bg-warning-2 {
  background-color: #4D0600
}

.border-warning-2 {
  border-color: #4D0600
}

.bg-warning-3 {
  background-color: #560905
}

.border-warning-3 {
  border-color: #560905
}

.bg-warning-4 {
  background-color: #5F0D0A
}

.border-warning-4 {
  border-color: #5F0D0A
}

.bg-warning-5 {
  background-color: #671110
}

.border-warning-5 {
  border-color: #671110
}

.bg-warning-6 {
  background-color: #701717
}

.border-warning-6 {
  border-color: #701717
}

.bg-contrast-0 {
  background-color: #94959D
}

.border-contrast-0 {
  border-color: #94959D
}

.bg-contrast-1 {
  background-color: #A1A1A9
}

.border-contrast-1 {
  border-color: #A1A1A9
}

.bg-contrast-2 {
  background-color: #AEAEB6
}

.border-contrast-2 {
  border-color: #AEAEB6
}

.bg-contrast-3 {
  background-color: #BBBBC3
}

.border-contrast-3 {
  border-color: #BBBBC3
}

.bg-contrast-4 {
  background-color: #C8C8D0
}

.border-contrast-4 {
  border-color: #C8C8D0
}

.bg-contrast-5 {
  background-color: #D5D5DD
}

.border-contrast-5 {
  border-color: #D5D5DD
}

.bg-contrast-6 {
  background-color: #E2E2E9
}

.border-contrast-6 {
  border-color: #E2E2E9
}

.bg-contrast-7 {
  background-color: #F0F0F6
}

.border-contrast-7 {
  border-color: #F0F0F6
}

.block-0 {
  padding: 2.5em;
}

.block-0 > *:first-child {
  margin-top: 0;
}

.block-0 > *:last-child {
  margin-bottom: 0;
}

.header-block-0 {
  padding: 0.5em 2.5em;
}

.block-1 {
  padding: 2.15625em;
}

.block-1 > *:first-child {
  margin-top: 0;
}

.block-1 > *:last-child {
  margin-bottom: 0;
}

.header-block-1 {
  padding: 0.5em 2.15625em;
}

.block-2 {
  padding: 1.8125em;
}

.block-2 > *:first-child {
  margin-top: 0;
}

.block-2 > *:last-child {
  margin-bottom: 0;
}

.header-block-2 {
  padding: 0.5em 1.8125em;
}

.block-3 {
  padding: 1.46875em;
}

.block-3 > *:first-child {
  margin-top: 0;
}

.block-3 > *:last-child {
  margin-bottom: 0;
}

.header-block-3 {
  padding: 0.5em 1.46875em;
}

.block-4 {
  padding: 1.125em;
}

.block-4 > *:first-child {
  margin-top: 0;
}

.block-4 > *:last-child {
  margin-bottom: 0;
}

.header-block-4 {
  padding: 0.5em 1.125em;
}

.block-5 {
  padding: 0.78125em;
}

.block-5 > *:first-child {
  margin-top: 0;
}

.block-5 > *:last-child {
  margin-bottom: 0;
}

.header-block-5 {
  padding: 0.5em 0.78125em;
}

.block-6 {
  padding: 0.4375em;
}

.block-6 > *:first-child {
  margin-top: 0;
}

.block-6 > *:last-child {
  margin-bottom: 0;
}

.header-block-6 {
  padding: 0.5em 0.4375em;
}

.block-7 {
  padding: 0.09375em;
}

.block-7 > *:first-child {
  margin-top: 0;
}

.block-7 > *:last-child {
  margin-bottom: 0;
}

.header-block-7 {
  padding: 0.5em 0.09375em;
}

.text-color {
  color: #F0F0F6
}
