.bg-primary-0 {
  background-color: #060F26
}

.text-primary-0 {
  color: #060F26
}

.border-primary-0 {
  border-color: #060F26
}

.bg-primary-1 {
  background-color: #0E144B
}

.text-primary-1 {
  color: #0E144B
}

.border-primary-1 {
  border-color: #0E144B
}

.bg-primary-2 {
  background-color: #273892
}

.text-primary-2 {
  color: #273892
}

.border-primary-2 {
  border-color: #273892
}

.bg-primary-3 {
  background-color: #697BD5
}

.text-primary-3 {
  color: #697BD5
}

.border-primary-3 {
  border-color: #697BD5
}

.bg-primary-4 {
  background-color: #8991FF
}

.text-primary-4 {
  color: #8991FF
}

.border-primary-4 {
  border-color: #8991FF
}

.bg-greyscale-0 {
  background-color: #131314
}

.text-greyscale-0 {
  color: #131314
}

.border-greyscale-0 {
  border-color: #131314
}

.bg-greyscale-1 {
  background-color: #1E1F20
}

.text-greyscale-1 {
  color: #1E1F20
}

.border-greyscale-1 {
  border-color: #1E1F20
}

.bg-greyscale-2 {
  background-color: #303032
}

.text-greyscale-2 {
  color: #303032
}

.border-greyscale-2 {
  border-color: #303032
}

.bg-greyscale-3 {
  background-color: #535457
}

.text-greyscale-3 {
  color: #535457
}

.border-greyscale-3 {
  border-color: #535457
}

.bg-greyscale-4 {
  background-color: #7D7F84
}

.text-greyscale-4 {
  color: #7D7F84
}

.border-greyscale-4 {
  border-color: #7D7F84
}

.bg-greyscale-5 {
  background-color: #A1A4AC
}

.text-greyscale-5 {
  color: #A1A4AC
}

.border-greyscale-5 {
  border-color: #A1A4AC
}

.bg-greyscale-6 {
  background-color: #C2C7D1
}

.text-greyscale-6 {
  color: #C2C7D1
}

.border-greyscale-6 {
  border-color: #C2C7D1
}

.bg-greyscale-7 {
  background-color: #D5DBEA
}

.text-greyscale-7 {
  color: #D5DBEA
}

.border-greyscale-7 {
  border-color: #D5DBEA
}

.bg-accent-0 {
  background-color: #330532
}

.text-accent-0 {
  color: #330532
}

.border-accent-0 {
  border-color: #330532
}

.bg-accent-1 {
  background-color: #551344
}

.text-accent-1 {
  color: #551344
}

.border-accent-1 {
  border-color: #551344
}

.bg-accent-2 {
  background-color: #994887
}

.text-accent-2 {
  color: #994887
}

.border-accent-2 {
  border-color: #994887
}

.bg-accent-3 {
  background-color: #BE6EAF
}

.text-accent-3 {
  color: #BE6EAF
}

.border-accent-3 {
  border-color: #BE6EAF
}

.bg-accent-4 {
  background-color: #CF80BE
}

.text-accent-4 {
  color: #CF80BE
}

.border-accent-4 {
  border-color: #CF80BE
}

.bg-surface-0 {
  background-color: #1F2404
}

.text-surface-0 {
  color: #1F2404
}

.border-surface-0 {
  border-color: #1F2404
}

.bg-surface-1 {
  background-color: #2E350B
}

.text-surface-1 {
  color: #2E350B
}

.border-surface-1 {
  border-color: #2E350B
}

.bg-surface-2 {
  background-color: #657222
}

.text-surface-2 {
  color: #657222
}

.border-surface-2 {
  border-color: #657222
}

.bg-surface-3 {
  background-color: #91A13E
}

.text-surface-3 {
  color: #91A13E
}

.border-surface-3 {
  border-color: #91A13E
}

.bg-surface-4 {
  background-color: #C1D464
}

.text-surface-4 {
  color: #C1D464
}

.border-surface-4 {
  border-color: #C1D464
}

.bg-warning-0 {
  background-color: #39070F
}

.text-warning-0 {
  color: #39070F
}

.border-warning-0 {
  border-color: #39070F
}

.bg-warning-1 {
  background-color: #520C15
}

.text-warning-1 {
  color: #520C15
}

.border-warning-1 {
  border-color: #520C15
}

.bg-warning-2 {
  background-color: #7C192C
}

.text-warning-2 {
  color: #7C192C
}

.border-warning-2 {
  border-color: #7C192C
}

.bg-warning-3 {
  background-color: #BA3954
}

.text-warning-3 {
  color: #BA3954
}

.border-warning-3 {
  border-color: #BA3954
}

.bg-warning-4 {
  background-color: #FF6D88
}

.text-warning-4 {
  color: #FF6D88
}

.border-warning-4 {
  border-color: #FF6D88
}