.bg-grey-0.dark {
  background-color: #141416;
}

.border-grey-0.dark {
  border-color: #141416;
}

.shadow-grey-0.dark {
  box-shadow: 0 0 0 1px #141416;
}

.bg-grey-contrast-0.light {
  background-color: #141416;
}

.border-grey-contrast-0.light {
  border-color: #141416;
}

.shadow-grey-contrast-0.light {
  box-shadow: 0 0 0 1px #141416;
}

.bg-grey-1.dark {
  background-color: #19191B;
}

.border-grey-1.dark {
  border-color: #19191B;
}

.shadow-grey-1.dark {
  box-shadow: 0 0 0 1px #19191B;
}

.bg-grey-contrast-1.light {
  background-color: #19191B;
}

.border-grey-contrast-1.light {
  border-color: #19191B;
}

.shadow-grey-contrast-1.light {
  box-shadow: 0 0 0 1px #19191B;
}

.bg-grey-2.dark {
  background-color: #1F1F21;
}

.border-grey-2.dark {
  border-color: #1F1F21;
}

.shadow-grey-2.dark {
  box-shadow: 0 0 0 1px #1F1F21;
}

.bg-grey-contrast-2.light {
  background-color: #1F1F21;
}

.border-grey-contrast-2.light {
  border-color: #1F1F21;
}

.shadow-grey-contrast-2.light {
  box-shadow: 0 0 0 1px #1F1F21;
}

.bg-grey-3.dark {
  background-color: #242426;
}

.border-grey-3.dark {
  border-color: #242426;
}

.shadow-grey-3.dark {
  box-shadow: 0 0 0 1px #242426;
}

.bg-grey-contrast-3.light {
  background-color: #242426;
}

.border-grey-contrast-3.light {
  border-color: #242426;
}

.shadow-grey-contrast-3.light {
  box-shadow: 0 0 0 1px #242426;
}

.bg-grey-4.dark {
  background-color: #2A2A2C;
}

.border-grey-4.dark {
  border-color: #2A2A2C;
}

.shadow-grey-4.dark {
  box-shadow: 0 0 0 1px #2A2A2C;
}

.bg-grey-contrast-4.light {
  background-color: #2A2A2C;
}

.border-grey-contrast-4.light {
  border-color: #2A2A2C;
}

.shadow-grey-contrast-4.light {
  box-shadow: 0 0 0 1px #2A2A2C;
}

.bg-grey-5.dark {
  background-color: #2F2F31;
}

.border-grey-5.dark {
  border-color: #2F2F31;
}

.shadow-grey-5.dark {
  box-shadow: 0 0 0 1px #2F2F31;
}

.bg-grey-contrast-5.light {
  background-color: #2F2F31;
}

.border-grey-contrast-5.light {
  border-color: #2F2F31;
}

.shadow-grey-contrast-5.light {
  box-shadow: 0 0 0 1px #2F2F31;
}

.bg-grey-0.light {
  background-color: #EEEEFA;
}

.border-grey-0.light {
  border-color: #EEEEFA;
}

.shadow-grey-0.light {
  box-shadow: 0 0 0 1px #EEEEFA;
}

.bg-grey-contrast-0.dark {
  background-color: #EEEEFA;
}

.border-grey-contrast-0.dark {
  border-color: #EEEEFA;
}

.shadow-grey-contrast-0.dark {
  box-shadow: 0 0 0 1px #EEEEFA;
}

.bg-grey-1.light {
  background-color: #E7E7F0;
}

.border-grey-1.light {
  border-color: #E7E7F0;
}

.shadow-grey-1.light {
  box-shadow: 0 0 0 1px #E7E7F0;
}

.bg-grey-contrast-1.dark {
  background-color: #E7E7F0;
}

.border-grey-contrast-1.dark {
  border-color: #E7E7F0;
}

.shadow-grey-contrast-1.dark {
  box-shadow: 0 0 0 1px #E7E7F0;
}

.bg-grey-2.light {
  background-color: #DFDFE6;
}

.border-grey-2.light {
  border-color: #DFDFE6;
}

.shadow-grey-2.light {
  box-shadow: 0 0 0 1px #DFDFE6;
}

.bg-grey-contrast-2.dark {
  background-color: #DFDFE6;
}

.border-grey-contrast-2.dark {
  border-color: #DFDFE6;
}

.shadow-grey-contrast-2.dark {
  box-shadow: 0 0 0 1px #DFDFE6;
}

.bg-grey-3.light {
  background-color: #D5D5DC;
}

.border-grey-3.light {
  border-color: #D5D5DC;
}

.shadow-grey-3.light {
  box-shadow: 0 0 0 1px #D5D5DC;
}

.bg-grey-contrast-3.dark {
  background-color: #D5D5DC;
}

.border-grey-contrast-3.dark {
  border-color: #D5D5DC;
}

.shadow-grey-contrast-3.dark {
  box-shadow: 0 0 0 1px #D5D5DC;
}

.bg-grey-4.light {
  background-color: #CCCCD2;
}

.border-grey-4.light {
  border-color: #CCCCD2;
}

.shadow-grey-4.light {
  box-shadow: 0 0 0 1px #CCCCD2;
}

.bg-grey-contrast-4.dark {
  background-color: #CCCCD2;
}

.border-grey-contrast-4.dark {
  border-color: #CCCCD2;
}

.shadow-grey-contrast-4.dark {
  box-shadow: 0 0 0 1px #CCCCD2;
}

.bg-grey-5.light {
  background-color: #C3C3C7;
}

.border-grey-5.light {
  border-color: #C3C3C7;
}

.shadow-grey-5.light {
  box-shadow: 0 0 0 1px #C3C3C7;
}

.bg-grey-contrast-5.dark {
  background-color: #C3C3C7;
}

.border-grey-contrast-5.dark {
  border-color: #C3C3C7;
}

.shadow-grey-contrast-5.dark {
  box-shadow: 0 0 0 1px #C3C3C7;
}

.bg-primary-0.dark {
  background-color: #020E29;
}

.border-primary-0.dark {
  border-color: #020E29;
}

.shadow-primary-0.dark {
  box-shadow: 0 0 0 1px #020E29;
}

.bg-primary-contrast-0.light {
  background-color: #020E29;
}

.border-primary-contrast-0.light {
  border-color: #020E29;
}

.shadow-primary-contrast-0.light {
  box-shadow: 0 0 0 1px #020E29;
}

.bg-primary-1.dark {
  background-color: #040E2C;
}

.border-primary-1.dark {
  border-color: #040E2C;
}

.shadow-primary-1.dark {
  box-shadow: 0 0 0 1px #040E2C;
}

.bg-primary-contrast-1.light {
  background-color: #040E2C;
}

.border-primary-contrast-1.light {
  border-color: #040E2C;
}

.shadow-primary-contrast-1.light {
  box-shadow: 0 0 0 1px #040E2C;
}

.bg-primary-2.dark {
  background-color: #061230;
}

.border-primary-2.dark {
  border-color: #061230;
}

.shadow-primary-2.dark {
  box-shadow: 0 0 0 1px #061230;
}

.bg-primary-contrast-2.light {
  background-color: #061230;
}

.border-primary-contrast-2.light {
  border-color: #061230;
}

.shadow-primary-contrast-2.light {
  box-shadow: 0 0 0 1px #061230;
}

.bg-primary-3.dark {
  background-color: #081532;
}

.border-primary-3.dark {
  border-color: #081532;
}

.shadow-primary-3.dark {
  box-shadow: 0 0 0 1px #081532;
}

.bg-primary-contrast-3.light {
  background-color: #081532;
}

.border-primary-contrast-3.light {
  border-color: #081532;
}

.shadow-primary-contrast-3.light {
  box-shadow: 0 0 0 1px #081532;
}

.bg-primary-4.dark {
  background-color: #0A1633;
}

.border-primary-4.dark {
  border-color: #0A1633;
}

.shadow-primary-4.dark {
  box-shadow: 0 0 0 1px #0A1633;
}

.bg-primary-contrast-4.light {
  background-color: #0A1633;
}

.border-primary-contrast-4.light {
  border-color: #0A1633;
}

.shadow-primary-contrast-4.light {
  box-shadow: 0 0 0 1px #0A1633;
}

.bg-primary-5.dark {
  background-color: #0C1938;
}

.border-primary-5.dark {
  border-color: #0C1938;
}

.shadow-primary-5.dark {
  box-shadow: 0 0 0 1px #0C1938;
}

.bg-primary-contrast-5.light {
  background-color: #0C1938;
}

.border-primary-contrast-5.light {
  border-color: #0C1938;
}

.shadow-primary-contrast-5.light {
  box-shadow: 0 0 0 1px #0C1938;
}

.bg-primary-0.light {
  background-color: #3364DD;
}

.border-primary-0.light {
  border-color: #3364DD;
}

.shadow-primary-0.light {
  box-shadow: 0 0 0 1px #3364DD;
}

.bg-primary-contrast-0.dark {
  background-color: #3364DD;
}

.border-primary-contrast-0.dark {
  border-color: #3364DD;
}

.shadow-primary-contrast-0.dark {
  box-shadow: 0 0 0 1px #3364DD;
}

.bg-primary-1.light {
  background-color: #4572E3;
}

.border-primary-1.light {
  border-color: #4572E3;
}

.shadow-primary-1.light {
  box-shadow: 0 0 0 1px #4572E3;
}

.bg-primary-contrast-1.dark {
  background-color: #4572E3;
}

.border-primary-contrast-1.dark {
  border-color: #4572E3;
}

.shadow-primary-contrast-1.dark {
  box-shadow: 0 0 0 1px #4572E3;
}

.bg-primary-2.light {
  background-color: #537EE8;
}

.border-primary-2.light {
  border-color: #537EE8;
}

.shadow-primary-2.light {
  box-shadow: 0 0 0 1px #537EE8;
}

.bg-primary-contrast-2.dark {
  background-color: #537EE8;
}

.border-primary-contrast-2.dark {
  border-color: #537EE8;
}

.shadow-primary-contrast-2.dark {
  box-shadow: 0 0 0 1px #537EE8;
}

.bg-primary-3.light {
  background-color: #638AEE;
}

.border-primary-3.light {
  border-color: #638AEE;
}

.shadow-primary-3.light {
  box-shadow: 0 0 0 1px #638AEE;
}

.bg-primary-contrast-3.dark {
  background-color: #638AEE;
}

.border-primary-contrast-3.dark {
  border-color: #638AEE;
}

.shadow-primary-contrast-3.dark {
  box-shadow: 0 0 0 1px #638AEE;
}

.bg-primary-4.light {
  background-color: #7498F3;
}

.border-primary-4.light {
  border-color: #7498F3;
}

.shadow-primary-4.light {
  box-shadow: 0 0 0 1px #7498F3;
}

.bg-primary-contrast-4.dark {
  background-color: #7498F3;
}

.border-primary-contrast-4.dark {
  border-color: #7498F3;
}

.shadow-primary-contrast-4.dark {
  box-shadow: 0 0 0 1px #7498F3;
}

.bg-primary-5.light {
  background-color: #85A6F9;
}

.border-primary-5.light {
  border-color: #85A6F9;
}

.shadow-primary-5.light {
  box-shadow: 0 0 0 1px #85A6F9;
}

.bg-primary-contrast-5.dark {
  background-color: #85A6F9;
}

.border-primary-contrast-5.dark {
  border-color: #85A6F9;
}

.shadow-primary-contrast-5.dark {
  box-shadow: 0 0 0 1px #85A6F9;
}

.bg-accent-0.dark {
  background-color: #101704;
}

.border-accent-0.dark {
  border-color: #101704;
}

.shadow-accent-0.dark {
  box-shadow: 0 0 0 1px #101704;
}

.bg-accent-contrast-0.light {
  background-color: #101704;
}

.border-accent-contrast-0.light {
  border-color: #101704;
}

.shadow-accent-contrast-0.light {
  box-shadow: 0 0 0 1px #101704;
}

.bg-accent-1.dark {
  background-color: #141D04;
}

.border-accent-1.dark {
  border-color: #141D04;
}

.shadow-accent-1.dark {
  box-shadow: 0 0 0 1px #141D04;
}

.bg-accent-contrast-1.light {
  background-color: #141D04;
}

.border-accent-contrast-1.light {
  border-color: #141D04;
}

.shadow-accent-contrast-1.light {
  box-shadow: 0 0 0 1px #141D04;
}

.bg-accent-2.dark {
  background-color: #192305;
}

.border-accent-2.dark {
  border-color: #192305;
}

.shadow-accent-2.dark {
  box-shadow: 0 0 0 1px #192305;
}

.bg-accent-contrast-2.light {
  background-color: #192305;
}

.border-accent-contrast-2.light {
  border-color: #192305;
}

.shadow-accent-contrast-2.light {
  box-shadow: 0 0 0 1px #192305;
}

.bg-accent-3.dark {
  background-color: #1D2907;
}

.border-accent-3.dark {
  border-color: #1D2907;
}

.shadow-accent-3.dark {
  box-shadow: 0 0 0 1px #1D2907;
}

.bg-accent-contrast-3.light {
  background-color: #1D2907;
}

.border-accent-contrast-3.light {
  border-color: #1D2907;
}

.shadow-accent-contrast-3.light {
  box-shadow: 0 0 0 1px #1D2907;
}

.bg-accent-4.dark {
  background-color: #222F09;
}

.border-accent-4.dark {
  border-color: #222F09;
}

.shadow-accent-4.dark {
  box-shadow: 0 0 0 1px #222F09;
}

.bg-accent-contrast-4.light {
  background-color: #222F09;
}

.border-accent-contrast-4.light {
  border-color: #222F09;
}

.shadow-accent-contrast-4.light {
  box-shadow: 0 0 0 1px #222F09;
}

.bg-accent-5.dark {
  background-color: #27360C;
}

.border-accent-5.dark {
  border-color: #27360C;
}

.shadow-accent-5.dark {
  box-shadow: 0 0 0 1px #27360C;
}

.bg-accent-contrast-5.light {
  background-color: #27360C;
}

.border-accent-contrast-5.light {
  border-color: #27360C;
}

.shadow-accent-contrast-5.light {
  box-shadow: 0 0 0 1px #27360C;
}

.bg-accent-0.light {
  background-color: #87B82A;
}

.border-accent-0.light {
  border-color: #87B82A;
}

.shadow-accent-0.light {
  box-shadow: 0 0 0 1px #87B82A;
}

.bg-accent-contrast-0.dark {
  background-color: #87B82A;
}

.border-accent-contrast-0.dark {
  border-color: #87B82A;
}

.shadow-accent-contrast-0.dark {
  box-shadow: 0 0 0 1px #87B82A;
}

.bg-accent-1.light {
  background-color: #92C434;
}

.border-accent-1.light {
  border-color: #92C434;
}

.shadow-accent-1.light {
  box-shadow: 0 0 0 1px #92C434;
}

.bg-accent-contrast-1.dark {
  background-color: #92C434;
}

.border-accent-contrast-1.dark {
  border-color: #92C434;
}

.shadow-accent-contrast-1.dark {
  box-shadow: 0 0 0 1px #92C434;
}

.bg-accent-2.light {
  background-color: #9DD03E;
}

.border-accent-2.light {
  border-color: #9DD03E;
}

.shadow-accent-2.light {
  box-shadow: 0 0 0 1px #9DD03E;
}

.bg-accent-contrast-2.dark {
  background-color: #9DD03E;
}

.border-accent-contrast-2.dark {
  border-color: #9DD03E;
}

.shadow-accent-contrast-2.dark {
  box-shadow: 0 0 0 1px #9DD03E;
}

.bg-accent-3.light {
  background-color: #A9DD49;
}

.border-accent-3.light {
  border-color: #A9DD49;
}

.shadow-accent-3.light {
  box-shadow: 0 0 0 1px #A9DD49;
}

.bg-accent-contrast-3.dark {
  background-color: #A9DD49;
}

.border-accent-contrast-3.dark {
  border-color: #A9DD49;
}

.shadow-accent-contrast-3.dark {
  box-shadow: 0 0 0 1px #A9DD49;
}

.bg-accent-4.light {
  background-color: #B5E955;
}

.border-accent-4.light {
  border-color: #B5E955;
}

.shadow-accent-4.light {
  box-shadow: 0 0 0 1px #B5E955;
}

.bg-accent-contrast-4.dark {
  background-color: #B5E955;
}

.border-accent-contrast-4.dark {
  border-color: #B5E955;
}

.shadow-accent-contrast-4.dark {
  box-shadow: 0 0 0 1px #B5E955;
}

.bg-accent-5.light {
  background-color: #C2F562;
}

.border-accent-5.light {
  border-color: #C2F562;
}

.shadow-accent-5.light {
  box-shadow: 0 0 0 1px #C2F562;
}

.bg-accent-contrast-5.dark {
  background-color: #C2F562;
}

.border-accent-contrast-5.dark {
  border-color: #C2F562;
}

.shadow-accent-contrast-5.dark {
  box-shadow: 0 0 0 1px #C2F562;
}

.bg-surface-0.dark {
  background-color: #170316;
}

.border-surface-0.dark {
  border-color: #170316;
}

.shadow-surface-0.dark {
  box-shadow: 0 0 0 1px #170316;
}

.bg-surface-contrast-0.light {
  background-color: #170316;
}

.border-surface-contrast-0.light {
  border-color: #170316;
}

.shadow-surface-contrast-0.light {
  box-shadow: 0 0 0 1px #170316;
}

.bg-surface-1.dark {
  background-color: #1D041B;
}

.border-surface-1.dark {
  border-color: #1D041B;
}

.shadow-surface-1.dark {
  box-shadow: 0 0 0 1px #1D041B;
}

.bg-surface-contrast-1.light {
  background-color: #1D041B;
}

.border-surface-contrast-1.light {
  border-color: #1D041B;
}

.shadow-surface-contrast-1.light {
  box-shadow: 0 0 0 1px #1D041B;
}

.bg-surface-2.dark {
  background-color: #230621;
}

.border-surface-2.dark {
  border-color: #230621;
}

.shadow-surface-2.dark {
  box-shadow: 0 0 0 1px #230621;
}

.bg-surface-contrast-2.light {
  background-color: #230621;
}

.border-surface-contrast-2.light {
  border-color: #230621;
}

.shadow-surface-contrast-2.light {
  box-shadow: 0 0 0 1px #230621;
}

.bg-surface-3.dark {
  background-color: #290827;
}

.border-surface-3.dark {
  border-color: #290827;
}

.shadow-surface-3.dark {
  box-shadow: 0 0 0 1px #290827;
}

.bg-surface-contrast-3.light {
  background-color: #290827;
}

.border-surface-contrast-3.light {
  border-color: #290827;
}

.shadow-surface-contrast-3.light {
  box-shadow: 0 0 0 1px #290827;
}

.bg-surface-4.dark {
  background-color: #2F0A2D;
}

.border-surface-4.dark {
  border-color: #2F0A2D;
}

.shadow-surface-4.dark {
  box-shadow: 0 0 0 1px #2F0A2D;
}

.bg-surface-contrast-4.light {
  background-color: #2F0A2D;
}

.border-surface-contrast-4.light {
  border-color: #2F0A2D;
}

.shadow-surface-contrast-4.light {
  box-shadow: 0 0 0 1px #2F0A2D;
}

.bg-surface-5.dark {
  background-color: #360D33;
}

.border-surface-5.dark {
  border-color: #360D33;
}

.shadow-surface-5.dark {
  box-shadow: 0 0 0 1px #360D33;
}

.bg-surface-contrast-5.light {
  background-color: #360D33;
}

.border-surface-contrast-5.light {
  border-color: #360D33;
}

.shadow-surface-contrast-5.light {
  box-shadow: 0 0 0 1px #360D33;
}

.bg-surface-0.light {
  background-color: #C828E3;
}

.border-surface-0.light {
  border-color: #C828E3;
}

.shadow-surface-0.light {
  box-shadow: 0 0 0 1px #C828E3;
}

.bg-surface-contrast-0.dark {
  background-color: #C828E3;
}

.border-surface-contrast-0.dark {
  border-color: #C828E3;
}

.shadow-surface-contrast-0.dark {
  box-shadow: 0 0 0 1px #C828E3;
}

.bg-surface-1.light {
  background-color: #CD35E7;
}

.border-surface-1.light {
  border-color: #CD35E7;
}

.shadow-surface-1.light {
  box-shadow: 0 0 0 1px #CD35E7;
}

.bg-surface-contrast-1.dark {
  background-color: #CD35E7;
}

.border-surface-contrast-1.dark {
  border-color: #CD35E7;
}

.shadow-surface-contrast-1.dark {
  box-shadow: 0 0 0 1px #CD35E7;
}

.bg-surface-2.light {
  background-color: #D243EA;
}

.border-surface-2.light {
  border-color: #D243EA;
}

.shadow-surface-2.light {
  box-shadow: 0 0 0 1px #D243EA;
}

.bg-surface-contrast-2.dark {
  background-color: #D243EA;
}

.border-surface-contrast-2.dark {
  border-color: #D243EA;
}

.shadow-surface-contrast-2.dark {
  box-shadow: 0 0 0 1px #D243EA;
}

.bg-surface-3.light {
  background-color: #D751EE;
}

.border-surface-3.light {
  border-color: #D751EE;
}

.shadow-surface-3.light {
  box-shadow: 0 0 0 1px #D751EE;
}

.bg-surface-contrast-3.dark {
  background-color: #D751EE;
}

.border-surface-contrast-3.dark {
  border-color: #D751EE;
}

.shadow-surface-contrast-3.dark {
  box-shadow: 0 0 0 1px #D751EE;
}

.bg-surface-4.light {
  background-color: #DC5FF2;
}

.border-surface-4.light {
  border-color: #DC5FF2;
}

.shadow-surface-4.light {
  box-shadow: 0 0 0 1px #DC5FF2;
}

.bg-surface-contrast-4.dark {
  background-color: #DC5FF2;
}

.border-surface-contrast-4.dark {
  border-color: #DC5FF2;
}

.shadow-surface-contrast-4.dark {
  box-shadow: 0 0 0 1px #DC5FF2;
}

.bg-surface-5.light {
  background-color: #E16EF6;
}

.border-surface-5.light {
  border-color: #E16EF6;
}

.shadow-surface-5.light {
  box-shadow: 0 0 0 1px #E16EF6;
}

.bg-surface-contrast-5.dark {
  background-color: #E16EF6;
}

.border-surface-contrast-5.dark {
  border-color: #E16EF6;
}

.shadow-surface-contrast-5.dark {
  box-shadow: 0 0 0 1px #E16EF6;
}

.bg-warning-0.dark {
  background-color: #270003;
}

.border-warning-0.dark {
  border-color: #270003;
}

.shadow-warning-0.dark {
  box-shadow: 0 0 0 1px #270003;
}

.bg-warning-contrast-0.light {
  background-color: #270003;
}

.border-warning-contrast-0.light {
  border-color: #270003;
}

.shadow-warning-contrast-0.light {
  box-shadow: 0 0 0 1px #270003;
}

.bg-warning-1.dark {
  background-color: #2E0104;
}

.border-warning-1.dark {
  border-color: #2E0104;
}

.shadow-warning-1.dark {
  box-shadow: 0 0 0 1px #2E0104;
}

.bg-warning-contrast-1.light {
  background-color: #2E0104;
}

.border-warning-contrast-1.light {
  border-color: #2E0104;
}

.shadow-warning-contrast-1.light {
  box-shadow: 0 0 0 1px #2E0104;
}

.bg-warning-2.dark {
  background-color: #340105;
}

.border-warning-2.dark {
  border-color: #340105;
}

.shadow-warning-2.dark {
  box-shadow: 0 0 0 1px #340105;
}

.bg-warning-contrast-2.light {
  background-color: #340105;
}

.border-warning-contrast-2.light {
  border-color: #340105;
}

.shadow-warning-contrast-2.light {
  box-shadow: 0 0 0 1px #340105;
}

.bg-warning-3.dark {
  background-color: #3B0308;
}

.border-warning-3.dark {
  border-color: #3B0308;
}

.shadow-warning-3.dark {
  box-shadow: 0 0 0 1px #3B0308;
}

.bg-warning-contrast-3.light {
  background-color: #3B0308;
}

.border-warning-contrast-3.light {
  border-color: #3B0308;
}

.shadow-warning-contrast-3.light {
  box-shadow: 0 0 0 1px #3B0308;
}

.bg-warning-4.dark {
  background-color: #42070C;
}

.border-warning-4.dark {
  border-color: #42070C;
}

.shadow-warning-4.dark {
  box-shadow: 0 0 0 1px #42070C;
}

.bg-warning-contrast-4.light {
  background-color: #42070C;
}

.border-warning-contrast-4.light {
  border-color: #42070C;
}

.shadow-warning-contrast-4.light {
  box-shadow: 0 0 0 1px #42070C;
}

.bg-warning-5.dark {
  background-color: #490C11;
}

.border-warning-5.dark {
  border-color: #490C11;
}

.shadow-warning-5.dark {
  box-shadow: 0 0 0 1px #490C11;
}

.bg-warning-contrast-5.light {
  background-color: #490C11;
}

.border-warning-contrast-5.light {
  border-color: #490C11;
}

.shadow-warning-contrast-5.light {
  box-shadow: 0 0 0 1px #490C11;
}

.bg-warning-0.light {
  background-color: #B62121;
}

.border-warning-0.light {
  border-color: #B62121;
}

.shadow-warning-0.light {
  box-shadow: 0 0 0 1px #B62121;
}

.bg-warning-contrast-0.dark {
  background-color: #B62121;
}

.border-warning-contrast-0.dark {
  border-color: #B62121;
}

.shadow-warning-contrast-0.dark {
  box-shadow: 0 0 0 1px #B62121;
}

.bg-warning-1.light {
  background-color: #C22929;
}

.border-warning-1.light {
  border-color: #C22929;
}

.shadow-warning-1.light {
  box-shadow: 0 0 0 1px #C22929;
}

.bg-warning-contrast-1.dark {
  background-color: #C22929;
}

.border-warning-contrast-1.dark {
  border-color: #C22929;
}

.shadow-warning-contrast-1.dark {
  box-shadow: 0 0 0 1px #C22929;
}

.bg-warning-2.light {
  background-color: #CF3232;
}

.border-warning-2.light {
  border-color: #CF3232;
}

.shadow-warning-2.light {
  box-shadow: 0 0 0 1px #CF3232;
}

.bg-warning-contrast-2.dark {
  background-color: #CF3232;
}

.border-warning-contrast-2.dark {
  border-color: #CF3232;
}

.shadow-warning-contrast-2.dark {
  box-shadow: 0 0 0 1px #CF3232;
}

.bg-warning-3.light {
  background-color: #DB3C3C;
}

.border-warning-3.light {
  border-color: #DB3C3C;
}

.shadow-warning-3.light {
  box-shadow: 0 0 0 1px #DB3C3C;
}

.bg-warning-contrast-3.dark {
  background-color: #DB3C3C;
}

.border-warning-contrast-3.dark {
  border-color: #DB3C3C;
}

.shadow-warning-contrast-3.dark {
  box-shadow: 0 0 0 1px #DB3C3C;
}

.bg-warning-4.light {
  background-color: #E84747;
}

.border-warning-4.light {
  border-color: #E84747;
}

.shadow-warning-4.light {
  box-shadow: 0 0 0 1px #E84747;
}

.bg-warning-contrast-4.dark {
  background-color: #E84747;
}

.border-warning-contrast-4.dark {
  border-color: #E84747;
}

.shadow-warning-contrast-4.dark {
  box-shadow: 0 0 0 1px #E84747;
}

.bg-warning-5.light {
  background-color: #F45252;
}

.border-warning-5.light {
  border-color: #F45252;
}

.shadow-warning-5.light {
  box-shadow: 0 0 0 1px #F45252;
}

.bg-warning-contrast-5.dark {
  background-color: #F45252;
}

.border-warning-contrast-5.dark {
  border-color: #F45252;
}

.shadow-warning-contrast-5.dark {
  box-shadow: 0 0 0 1px #F45252;
}

.block-0 {
  padding: 2.5em;
}

.block-0 + .block-0 {
  padding-top: 0;
}

.block-0 > *:first-child {
  margin-top: 0;
}
.block-0 > *:last-child {
  margin-bottom: 0;
}

.inline-block-0 {
  padding: 0 0.75em;
}

.header-block-0 {
  padding: 0.5em 2.5em;
}

.block-1 {
  padding: 2.0416666666666665em;
}

.block-1 + .block-1 {
  padding-top: 0;
}

.block-1 > *:first-child {
  margin-top: 0;
}
.block-1 > *:last-child {
  margin-bottom: 0;
}

.inline-block-1 {
  padding: 0 0.6124999999999999em;
}

.header-block-1 {
  padding: 0.5em 2.0416666666666665em;
}

.block-2 {
  padding: 1.5833333333333335em;
}

.block-2 + .block-2 {
  padding-top: 0;
}

.block-2 > *:first-child {
  margin-top: 0;
}
.block-2 > *:last-child {
  margin-bottom: 0;
}

.inline-block-2 {
  padding: 0 0.47500000000000003em;
}

.header-block-2 {
  padding: 0.5em 1.5833333333333335em;
}

.block-3 {
  padding: 1.125em;
}

.block-3 + .block-3 {
  padding-top: 0;
}

.block-3 > *:first-child {
  margin-top: 0;
}
.block-3 > *:last-child {
  margin-bottom: 0;
}

.inline-block-3 {
  padding: 0 0.33749999999999997em;
}

.header-block-3 {
  padding: 0.5em 1.125em;
}

.block-4 {
  padding: 0.6666666666666667em;
}

.block-4 + .block-4 {
  padding-top: 0;
}

.block-4 > *:first-child {
  margin-top: 0;
}
.block-4 > *:last-child {
  margin-bottom: 0;
}

.inline-block-4 {
  padding: 0 0.2em;
}

.header-block-4 {
  padding: 0.5em 0.6666666666666667em;
}

.block-5 {
  padding: 0.20833333333333348em;
}

.block-5 + .block-5 {
  padding-top: 0;
}

.block-5 > *:first-child {
  margin-top: 0;
}
.block-5 > *:last-child {
  margin-bottom: 0;
}

.inline-block-5 {
  padding: 0 0.06250000000000004em;
}

.header-block-5 {
  padding: 0.5em 0.20833333333333348em;
}

.text-color.light{
  color: #141416;
}

.text-color.dark {
  color: #EEEEFA;
}
